.best_burgers_area {
  padding-bottom: 115px;
  padding-top: 140px;
  /* background-image: url(../img/banner/burger_bg.png); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

/* line 12, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  /* line 12, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area .single_delicious {
    display: block !important;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 12, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area .single_delicious {
    display: block !important;
  }
}

/* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .thumb {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 23, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .thumb img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 27, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .info {
  padding-left: 20px;
}

@media (max-width: 767px) {
  /* line 27, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area .single_delicious .info {
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 27, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area .single_delicious .info {
    padding-left: 0;
    margin-top: 30px;
  }
}

/* line 38, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .info h3 {
  font-size: 30px;
  color: #1A0D01;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/* line 44, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
  color: #6E6E6E;
  font-family: "Montserrat", sans-serif;
}

/* line 53, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .single_delicious .info span {
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #F0542C;
  font-family: "Montserrat", sans-serif;
}

/* line 62, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .iteam_links {
  margin-top: 50px;
}

@media (max-width: 767px) {
  /* line 62, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
  .best_burgers_area .iteam_links {
    margin-top: 20px;
  }
}

/* line 68, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_delicious.scss */
.best_burgers_area .iteam_links a {
  display: block;
}